<% provide :title, t("contact")%>
<div id="contact_avartar">
  <%= link_to image_tag(Settings.links.link_avartar), Settings.links.link_fb %>
</div>
<h3>
  <%= t "contact_fb" %>
  <%= link_to t("fb_name"), Settings.links.link_fb %>
</h3>
